*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Chivo';
}
.container{
    height: 85vh;
    width: 85%;
    border-radius: 10px;
    border: 3px solid #66bb6a;
    margin: auto;
    margin-top: 7.5vh;
    padding: 2%;
    padding-bottom: 0%;
}
.nav-icon{
    height: 10%;
}
.content {
    height: 67%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.texti{
    height: 100%;
    width: 45%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.image{
    width: 35%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.texti h3{
    color: #66bb6a;
    font-size: x-large;
}
.image img{
    height: 100%;
}
.upload{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}
.upload .button{
    height: 50px;
  width: 250px;
  font-size: 15px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #66bb6a;
  box-shadow: 5px 10px 20px #66bb6a79;
  color: white;
  cursor: pointer;
}
.home{
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.returnToHome{
    color: #66bb6a;
    cursor: pointer;
}
.upload .button a{
    color:white;
    text-decoration:none;
}
.returnToHome a{
    color: #66bb6a;
    text-decoration: none;
}
