


@media only screen and (orientation:landscape) and (max-width:1370px){
    .wrapper {
        background-color: white;
        width: 40%;
        height: 60%;
        border-radius: 7px;
    }
    .navbar {
        height: 7%;
    }
    .div3 {
        height: 66vh;
        width: 100%;
        padding: 8%;
        padding-top: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .div1 {
        width: 100%;
        height: 188vh;
        position: relative;
    }
    .navpart3 {
        height: 60%;
        width: 22%;
    }
    .home, .team, .intuition {
        font-weight: bold;
        font-size: x-large;
    }
    .navpart1{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50%;
    }
    .leaf2 {
        position: absolute;
        top: 47%;
        left: 0px;
        z-index: -3;
    }
    .features {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 65%;
        width: 100%;
        flex-wrap: wrap;
    }
    .div2 {
        height: 72vh;
        width: 100%;
        padding: 0px 8%;
    }
    
    .div4 {
        width: 100%;
        height: 28vh;
    }
    .div4 .button {
        height: 61px;
        width: 153px;
    }
    .div1 {
        width: 100%;
        height: 140vh;
        position: relative;
    }
    .content{
        height: 57vh;
    }
    .opportunities {
        height: 26vh;
    }
    .leaf1 {
        position: absolute;
        top: 22%;
        left: 0px;
        z-index: -2;
    }
}
@media only screen and (orientation:landscape) and (max-width:1030px){
    .home, .team, .intuition {
        font-weight: bold;
        font-size: large;
    }
    
    .content {
        height: 70vh;
        padding-top: 14%;
        padding-left: 12%;
    }
    .div1 {
        width: 100%;
        height: 150vh;
        position: relative;
    }
    .threeOptions {
        display: flex;
        flex-wrap: wrap;
        height: 45vh;
        width: 100%;
        padding: 0px 10%;
        justify-content: space-between;
    }
    .option1, .option2, .option3 {
        width: 29%;
    }
    .div2 {
        height: 85vh;
        width: 100%;
        padding: 0px 8%;
    }
    .feature1 .button, .feature2 .button {
        color: #66BB6A;
        background-color: white;
        height: 12%;
        width: 43%;
    }
    .div3 {
        height: 85vh;
    }
    .div4 {
        width: 100%;
        height: 32vh;
    }
    .opportunities {
        height: 20vh;
    }
}
@media only screen and (orientation:landscape) and (max-width:825px){
    input {
        height: 34px;
    }
    .wrapper {
        background-color: white;
        width: 40%;
        height: 85%;
        border-radius: 7px;
    }
    .div1 {
        width: 100%;
        height: 310vh;
        position: relative;
    }
    .navbar {
        height: 9%;
    }
    .home, .team, .intuition {
        font-weight: bold;
        font-size: medium;
    }
    .navpart3 {
        height: 55%;
        width: 25%;
    }
    .content {
        height: 110vh;
        padding-top: 16%;
        padding-left: 12%;
    }
    .content-button {
        height: 44px;
        width: 120px;
    }
    .option1, .option2, .option3 {
        width: 31%;
    }
    .threeOptions {
        display: flex;
        flex-wrap: wrap;
        height: 100vh;
        width: 100%;
        padding: 0px 10%;
        justify-content: space-between;
    }
    .content h1 {
        font-family: 'Chivo', sans-serif;
        font-size: x-large;
    }
    .login, .signup {
        height: 100%;
        width: 45%;
        border: none;
        color: white;
        border-radius: 10px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: small;
    }
    .leaf1 {
        position: absolute;
        top: 17%;
        left: 0px;
        z-index: -2;
        height: 40%;
    }
    .leaf2 {
        position: absolute;
        top: 38%;
        left: 0px;
        z-index: -3;
        height: 18%;
    }
    .opportunities {
        height: 60vh;
    }
    .div2 {
        height: 185vh;
        width: 100%;
        padding: 0px 8%;
    }
    .feature1, .feature2 {
        position: relative;
        height: 78%;
        width: 48%;
        padding: 3% 5%;
        color: white;
    }
    .extra{
        width: 100%;
    }
    .div3 {
        height: 160vh;
    }
    .extra .part1 {
        font-family: 'Chivo', sans-serif;
        font-weight: 600;
        font-size: 20px;
        width: 27%;
    }
    .extra .part2 {
        width: 50%;
        font-family: 'Chivo';
    }
    .div4 {
        width: 100%;
        height: 59vh;
    }
    .div4 .subheading {
        font-size: xx-large;
        font-weight: 600;
        font-family: 'Chivo', sans-serif;
        margin-bottom: 20px;
        text-align: center;
    }
    .feature1 .button, .feature2 .button {
        color: #66BB6A;
        background-color: white;
        height: 8%;
        width: 42%;
        font-size: small;
    }
}
@media only screen and (orientation:landscape) and (max-width:670px){
    .content {
        height: 123vh;
        padding-top: 16%;
        padding-left: 12%;
    }
    .opportunities {
        height: 33vh;
    }
    .option1, .option2, .option3 {
        width: 32%;
    }
    .div1 {
        width: 100%;
        height: 290vh;
        position: relative;
    }
    .features {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70%;
        width: 100%;
        flex-wrap: wrap;
    }
    .feature1 .button, .feature2 .button {
        color: #66BB6A;
        background-color: white;
        height: 10%;
        width: 58%;
    }
}

@media only screen and (orientation:landscape) and (max-width:570px){
    .home, .team, .intuition {
        font-weight: bold;
        font-size: small;
    }
    .content {
        height: 135vh;
        padding-top: 16%;
        padding-left: 12%;
    }
    .content h1 {
        font-family: 'Chivo', sans-serif;
        font-size: large;
    }
    .texti {
        max-width: 55%;
        margin-top: 15px;
        font-family: Chivo;
        font-size: small;
    }
    .content-button {
        height: 34px;
        width: 98px;
        font-size: small;
    }
    .opportunities {
        height: 35vh;
        font-size: large;
    }
    .texti2 {
        margin-top: 19px;
        text-align: center;
        font-size: medium;
        font-family: Chivo;
        width: 80%;
    }
    .div1 {
        width: 100%;
        height: 305vh;
        position: relative;
    }
    .div2 {
        height: 200vh;
        width: 100%;
        padding: 0px 3%;
    }
    .feature1 .head, .feature2 .head {
        font-family: 'Chivo', sans-serif;
        font-size: 30px;
        margin-top: 37px;
        margin-bottom: 40px;
    }
    .feature1, .feature2 {
        position: relative;
        height: 80%;
        width: 48%;
        padding: 3% 5%;
        color: white;
    }
    .feature1 .head, .feature2 .head {
        font-family: 'Chivo', sans-serif;
        font-size: 30px;
        margin-top: 15px;
        margin-bottom: 29px;
    }
    .div3 {
        height: 210vh;
    }
    .extra .part2 {
        width: 65%;
        font-family: 'Chivo';
        font-size: small;
    }
    .threeOptions {
        display: flex;
        flex-wrap: wrap;
        height: 100vh;
        width: 100%;
        padding: 0px 10%;
        justify-content: space-between;
    }
    .content-options {
        font-family: Chivo;
        font-size: small;
    }
}
 @media only screen and (orientation:portrait) and (max-width:1300px){ 
    .navpart3 {
        height: 50%;
        width: 24%;
    }
    .wrapper {
        background-color: white;
        width: 60%;
        height: 45%;
        border-radius: 7px;
    }
    .navpart1{
        display: flex;
        align-items: center;
        height: 60%;
    }
    .content{
        height: 50vh;
        padding-top: 20%;
    }
    .leaf2{
        top: 50%;
    }
    .opportunities {
        height: 20vh;
    }
    .option1, .option2, .option3 {
        width: 30%;
        height: 80%;
        
        padding: 4%;
    }
    .div1 {
        height: 110vh;
    }
    .feature1, .feature2 {
        position: relative;
        height: 80%;
        width: 45%;
        padding: 3% 5%;
        color: white;
    }
    .div2 {
        height: 60vh;
    }
    .features{
        height: 66%;
    }
    .div3 {
        height: 47vh;
    }
    .workingImage {
        height: 100%;
        width: 96%;
    }
    .div4 {
        width: 100%;
        height: 30vh;
    }
    .leaf1 {
        top: 26%;
    }
}
@media only screen and (orientation:portrait) and (max-width:780px){
    .login, .signup {
        border: none;
    }
    .wrapper {
        background-color: white;
        width: 60%;
        height: 50%;
        border-radius: 7px;
    }
    .login i, .signup i{
        display: none;
    }
    .common {
        display: flex;
        height: 75vh;
    }
    .chart {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        max-width: fit-content;
        margin: 0px;
    }
   .div3 hr {
        width: 95%;
        color: white;
        background-color: white;
        height: 3px;
        transform: rotate(90deg);
    }
    .div1 {
        height: 115vh;
    }
    .leaf1 {
        top: 30%;
        height: 40%;
    }
    .leaf2 {
        top: 46%;
        height: 22%;
    }
    .opportunities {
        height: 14vh;
    }
    .threeOptions {
        display: flex;
        flex-wrap: wrap;
        height: 48vh;
        width: 100%;
        padding: 0px 10%;
        justify-content: space-between;
    }
    .div2 {
        height: 72vh;
    }
    .feature1 .button, .feature2 .button {
        height: 12%;
        width: 50%;
    }
    .div3 {
        height: 65vh;
    }
    .div4 {
        width: 100%;
        height: 30vh;
    }
    .div4 .button {
        height: 54px;
    }
    .option1, .option2, .option3 {
        width: 32%;
        height: 80%;
        padding: 4%;
    }
}
@media only screen and (orientation:portrait) and (max-width:420px){
    .wrapper {
        background-color: white;
        width: 80%;
        height: 60%;
        border-radius: 7px;
    }
    .navbar {
        height: 4%;
    }
    .home, .team, .intuition {
        font-weight: bold;
        font-size: small;
    }
    .navpart2 {
        height: 60%;
        width: 40%;
    }
    .logo{
        height: 30px;
    }
    .login i,.signup i{
        display: none;
    }
    .login,.signup{
        border: none;
        font-size: small;
    }
    .navpart3 {
        height: 60%;
        width: 30%;
    }
    .farmer {
        width: 80%;
    }
    .content h1 {
        font-family: 'Chivo', sans-serif;
        font-size: x-large;
        width: 60%;
    }
    .texti {
        max-width: 75%;
        margin-top: 15px;
        font-family: Chivo;
        font-size: small;
    }
    .content-button {
        height: 37px;
        width: 100px;
        font-size: 13px;
    }
    .content {
        height: 53vh;
        padding-bottom: 0px;
    }
    .option1, .option2, .option3 {
        width: 30%;
        height: 80%;
        padding: 6%;
        min-width: 100%;
        box-shadow: 0px 10px 15px rgba(0,0,0,0.4);
        margin-bottom: 15px;

    }
    .div2 {
        height: 135vh;
        padding: 35px 8%;
    }
    .feature1 .button, .feature2 .button {
        color: #66BB6A;
        background-color: white;
        height: 10%;
        width: 45%;
    }
    .div3 {
        height: 113vh;
        padding-bottom: 0px;
    }
    .div4 .subheading {
        font-size: x-large;
    }
    .div4 {
        width: 100%;
        height: 22vh;
    }
    .workingImage {
        height: 90%;
        width: 96%;
        padding-top: 15%;
    }
    .working-content {
        width: 95%;
        font-size: small;
    }
    .extra {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }
    .extra .part1 {
        font-family: 'Chivo', sans-serif;
        font-weight: 600;
        font-size: 20px;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    .extra .part2 {
        width: 90%;
        font-family: 'Chivo';
        text-align: left;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: small;
    }
    .div2 .heading{
        text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    .heading .texti3 {
        font-family: 'Chivo';
        max-width: 86%;
    }
    .feature1, .feature2 {
        position: relative;
        height: 49%;
        width: 46%;
        padding: 3% 5%;
        color: white;
        min-width: 90%;
    }
    .features {
        display: flex;
        justify-content: space-evenly;
        height: 80%;
    }
    
    .div1 {
        height: 206vh;
    }
    .leaf1 {
        top: 21%;
        height: 30%;
    }
    .common {
        display: flex;
        height: 50vh;
    }
    .leaf2 {
        display: none;
    }
    .opportunities h1{
        font-size: x-large;
    }
    .texti2 {
        margin-top: 25px;
        text-align: center;
        width: 75%;
        font-family: Chivo;
        font-size: small;
    }
    .content-options {
        font-family: Chivo;
        font-size: small;
    }
    .heading .texti3 {
        font-family: 'Chivo';
        max-width: 86%;
        font-size: small;
    }
    .opportunities {
        height: 25vh;
    }
}


@media only screen and (orientation:portrait) and (max-width:380px){
    .threeOptions {
        display: flex;
        flex-wrap: wrap;
        height: 125vh;
        width: 100%;
        padding: 0px 10%;
        justify-content: space-between;
    }
    .div1 {
        height: 210vh;
    }
    .features {
        display: flex;
        justify-content: space-evenly;
        height: 80%;
    }
    .div3 {
        height: 105vh;
        padding-bottom: 0px;
    }
    .common {
        display: flex;
        height: 48vh;
    }
    .div4 {
        width: 100%;
        height: 28vh;
    }
    .div2 {
        height: 160vh;
        padding: 35px 8%;
    }
    .option1, .option2, .option3 {
        width: 30%;
        height: 32%;
        padding: 6%;
        min-width: 100%;
        box-shadow: 0px 10px 15px rgb(0 0 0 / 40%);
        margin-bottom: 15px;
    }
}
@media only screen and (orientation:portrait) and (max-width:325px){
    input {
        font-size: small;
        height: 36px;
    }
    .submit, .createAccount {
        width: 100%;
        color: white;
        background-color: #2f889A;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        cursor: pointer;
    }
    .pop-signin {
        font-size: small;
    }
    .pop-signup {
        font-size: small;
    }
    .texti2 {
        margin-top: 25px;
        text-align: center;
        width: 75%;
        font-family: Chivo;
        font-size: small;
    }
    .content-options {
        font-family: Chivo;
        font-size: small;
    }
    .heading .texti3 {
        font-family: 'Chivo';
        max-width: 86%;
        font-size: small;
    }
    .common {
        display: flex;
        height: 64vh;
    }
    .div1 {
        height: 260vh;
    }
    .home, .team, .intuition {
        font-weight: bold;
        font-size: x-small;
    }
    .login, .signup {
        border: none;
        font-size: x-small;
    }
    .content {
        height: 75vh;
        padding-bottom: 0px;
    }
    .content h1 {
        font-family: 'Chivo', sans-serif;
        font-size: x-large;
        width: 64%;
    }
    .leaf1{
        left: -15px;
        top: 20%;
    }
    .threeOptions {
        display: flex;
        flex-wrap: wrap;
        height: 150vh;
        width: 100%;
        padding: 0px 10%;
        justify-content: space-between;
    }
    .div2 {
        height: 180vh;
        padding: 35px 8%;
    }
    .feature1 .head, .feature2 .head {
        font-family: 'Chivo', sans-serif;
        font-size: 30px;
        margin-top: 35px;
        margin-bottom: 20px;
    }
    .feature1 , .feature2{
        min-width: 97%;
    }
    .working-content {
        width: 98%;
        font-size: 15px;
    }
    .extra .part1 {
        font-family: 'Chivo', sans-serif;
        font-weight: 600;
        font-size: 19px;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        text-align: center;
    }
    .extra .part2 {
        width: 90%;
        font-family: 'Chivo';
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
        margin-left: 20px;
    }
    .feature-content {
        max-width: 80%;
        margin-bottom: 40px;
    }
    .feature1 .button, .feature2 .button {
        color: #66BB6A;
        background-color: white;
        height: 10%;
        width: 51%;
    }
    .div3 {
        height: 160vh;
        padding-bottom: 0px;
        padding: 0px 2%;
    }
    .div4 {
        width: 100%;
        height: 30vh;
    }
    .div4 .subheading {
        font-size: x-large;
        text-align: center;
    }
} 