* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Chivo;
}
.div1 {
  width: 100%;
  height: 200vh;
  position: relative;
}
.navbar {
  height: 5%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  position: absolute;
  top: 0px;
  z-index: 5;
}

.navpart2 {
  height: 60%;
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navpart3 {
  height: 60%;
  width: 15%;
  display: flex;

  justify-content: space-between;
  align-items: center;
}
.content-button {
  height: 50px;
  width: 120px;
  font-size: 15px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #66bb6a;
  box-shadow: 5px 10px 20px #66bb6a79;
  margin-top: 30px;
  color: white;
}
.home:hover,
.team:hover,
.intuition:hover {
  color: #66bb6a;
  cursor: pointer;
}
.home,
.team,
.intuition {
  font-weight: bold;
  font-size: large;
}
.login,
.signup {
  height: 100%;
  width: 45%;
  border: 1px solid white;
  color: white;

  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.login:hover,
.signup:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 8%;
  width: 100%;
  height: 80vh;
  /* background-image: url(/images/Farmer\ Ilustration\ -\ Combined.png);
    background-size: 65% 110% ;
    background-repeat: no-repeat;
    background-position: top right; */
}
.texti {
  max-width: 55%;
  margin-top: 15px;
  font-family: Chivo;
}
.farmer {
  position: absolute;
  z-index: -1;
  right: 0px;
  top: 0px;
  width: 60%;
}
.content h1 {
  font-family: "Chivo", sans-serif;
}
.leaf1 {
  position: absolute;
  top: 20%;
  left: 0px;
  z-index: -2;
}
.leaf2 {
  position: absolute;
  top: 45%;
  left: 0px;
  z-index: -3;
}
.opportunities {
  height: 55vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.texti2 {
  margin-top: 30px;
  text-align: center;
  width: 50%;
  font-family: Chivo;
}
.threeOptions {
  display: flex;
  flex-wrap: wrap;
  height: 40vh;
  width: 100%;
  padding: 0px 10%;
  justify-content: space-between;
}
.option1,
.option3 {
  background-color: white;
}
.option2 {
  background-color: #66bb6a;
}
.option1,
.option2,
.option3 {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 3%;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.4);

  align-items: flex-start;
}
.option2{
  color: white;
}
.option1 img,
.option2 img,
.option3 img {
  height: 50px;
}
.option1 .head,
.option2 .head,
.option3 .head {
  margin: 25px 0px;
  font-family: "Chivo", sans-serif;
  font-weight: 600;
}
.content-options {
  font-family: Chivo;
}
/*
.option1:hover,.option2:hover,.option3:hover{
    color: white;
    background-color: #66BB6A;

}*/
.div2 {
  height: 100vh;

  width: 100%;
  padding: 0px 8%;
}
.heading h3 {
  font-family: "Chivo", sans-serif;
  font-size: xx-large;
  margin-bottom: 30px;
}
.heading .texti3 {
  font-family: "Chivo";
  max-width: 70%;
  word-break: break-all;
  margin-bottom: 50px;
}
.features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60%;
  width: 100%;
  flex-wrap: wrap;
}
.feature1,
.feature2 {
  position: relative;
  height: 95%;
  width: 40%;
  padding: 3% 5%;
  color: white;
}
.featureimg {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
}
.subhead {
  color: #66bb6a;
  font-family: "Chivo";
  letter-spacing: 1px;
  margin-bottom: 20px;
}
hr {
  width: 15%;
  color: white;
  background-color: white;
  height: 3px;
}

.feature1 .head,
.feature2 .head {
  font-family: "Chivo", sans-serif;
  font-size: 30px;
  margin-top: 60px;
  margin-bottom: 40px;
}
.feature-content {
  max-width: 70%;
  margin-bottom: 40px;
}
.feature1 .button,
.feature2 .button {
  color: #66bb6a;
  background-color: white;
  height: 12%;
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.div3 {
  height: 82vh;
  width: 100%;
  padding: 8%;
  padding-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.workingImage {
  height: 100%;
  width: 90%;
  position: relative;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.working {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
}
.workingImage .heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  font-weight: 600;
  font-family: "Chivo", sans-serif;
  margin-bottom: 20px;
}
.working-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
  font-family: "Chivo";
  margin-bottom: 25px;
}
.chart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 35px;
}
.circle {
  cursor: pointer;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 3px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.extra {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.extra .part1 {
  font-family: "Chivo", sans-serif;
  font-weight: 600;
  font-size: 20px;
  width: 20%;
}
.extra .part2 {
  width: 40%;
  font-family: "Chivo";
}
.div4 {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8%;
  padding-top: 0px;
}
.div4 .subheading {
  font-size: xxx-large;
  font-weight: 600;
  font-family: "Chivo", sans-serif;
  margin-bottom: 20px;
  text-align: center;
}
span {
  color: #66bb6a;
}
.div4 .button {
  height: 50px;
  width: 150px;
  font-size: 15px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #66bb6a;
  box-shadow: 5px 10px 20px #66bb6a79;
  margin-top: 30px;
  color: white;
}

.popup{
  position: absolute;
  height: 100vh;
  width: 100%;
  backdrop-filter: blur(8px);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.308);
}
.cross{
  color:white;
  font-size: xx-large;
  position: absolute;
  top: 10px;
  right: 20px;
}
.wrapper{
  background-color: white;
  width: 30%;
  height: 60%;
  border-radius: 7px;
}

.wrapper .head{
  height: 17%;
  width: 100%;
  display: flex;

}
.pop-signin, .pop-signup{
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  
}
.pop-signin{
  background-color: #d2d8d8;
  border-radius: 7px 0px 0px 0px;
  cursor: pointer;
}
.pop-signup{
  border-radius: 0px 7px 0px 0px;
  cursor: pointer;
}
.input{
  padding: 4%;
  height: 83%;
  width: 100%;
  
  
}
.input-signup{
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
.input-signin{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
input{
  height: 50px;
  width: 100%;
  padding: 5px;
  border: none;
  border: 1px solid lightgray;
  border-radius: 3px;
  font-size: medium;
}
.submit,.createAccount{
  width: 100%;
  color: white;
  background-color: #2f889A;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  cursor: pointer;
}
.remember{
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  font-weight: normal;
  font-size: small;
}
#rememberMe {
  height: 15px;
  width: 30px;
}
.forgotPassword{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  width: 100%;
  cursor: pointer;
}





