@media only screen and (orientation:portrait) and (max-width:1300px){
    .navpart3 {
        height: 50%;
        width: 24%;
    }
    .navpart1{
        display: flex;
        align-items: center;
        height: 60%;
    }
    .content{
        height: 50vh;
        padding-top: 20%;
    }
    .leaf2{
        top: 50%;
    }
    .opportunities {
        height: 20vh;
    }
    .option1, .option2, .option3 {
        width: 30%;
        height: 80%;
        
        padding: 4%;
    }
    .div1 {
        height: 110vh;
    }
    .feature1, .feature2 {
        position: relative;
        height: 80%;
        width: 45%;
        padding: 3% 5%;
        color: white;
    }
    .div2 {
        height: 60vh;
    }
    .features{
        height: 66%;
    }
    .div3 {
        height: 47vh;
    }
    .workingImage {
        height: 100%;
        width: 96%;
    }
    .div4 {
        width: 100%;
        height: 30vh;
    }
    .leaf1 {
        top: 26%;
    }
}
@media only screen and (orientation:portrait) and (max-width:420px){
    .navbar {
        height: 4%;
    }
    .home, .team, .intuition {
        font-weight: bold;
        font-size: small;
    }
    .navpart2 {
        height: 60%;
        width: 40%;
    }
    .logo{
        height: 30px;
    }
    .login i,.signup i{
        display: none;
    }
    .login,.signup{
        border: none;
        font-size: small;
    }
    .navpart3 {
        height: 60%;
        width: 30%;
    }
    .farmer{
        width: 72%;
    }
    .content h1 {
        font-family: 'Chivo', sans-serif;
        font-size: x-large;
        width: 60%;
    }
    .texti {
        max-width: 75%;
        margin-top: 15px;
        font-family: Chivo;
        font-size: small;
    }
    .content-button {
        height: 37px;
        width: 100px;
        font-size: 13px;
    }
    .content {
        height: 53vh;
        padding-bottom: 0px;
    }
    .option1, .option2, .option3 {
        width: 30%;
        height: 80%;
        padding: 6%;
        min-width: 100%;
        box-shadow: 0px 10px 15px rgba(0,0,0,0.4);
        margin-bottom: 15px;

    }
    .div2 {
        height: 135vh;
        padding: 35px 8%;
    }
    .feature1 .button, .feature2 .button {
        color: #66BB6A;
        background-color: white;
        height: 10%;
        width: 45%;
    }
    .div3 {
        height: 95vh;
        padding-bottom: 0px;
    }
    .div4 .subheading {
        font-size: x-large;
    }
    .div4 {
        width: 100%;
        height: 22vh;
    }
    .workingImage {
        height: 90%;
        width: 96%;
        padding-top: 15%;
    }
    .working-content {
        width: 95%;
    }
    .extra {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .extra .part1 {
        font-family: 'Chivo', sans-serif;
        font-weight: 600;
        font-size: 20px;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    .extra .part2 {
        width: 90%;
        font-family: 'Chivo';
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .div2 .heading{
        text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    .heading .texti3 {
        font-family: 'Chivo';
        max-width: 86%;
    }
    .feature1, .feature2 {
        position: relative;
        height: 48%;
        width: 45%;
        padding: 3% 5%;
        color: white;
        min-width: 90%;
    }
    .features {
        display: flex;
        justify-content: space-evenly;
        height: 80%;
    }
    
    .div1 {
        height: 185vh;
    }
    .leaf1 {
        top: 25%;
        height: 30%;
    }
    .leaf2 {
        display: none;
    }
    .opportunities h1{
        font-size: x-large;
    }
    .texti2 {
        margin-top: 25px;
        text-align: center;
        width: 75%;
        font-family: Chivo;
    }
    .opportunities {
        height: 25vh;
    }
}

@media only screen and (orientation:portrait) and (max-width:380px){
    .threeOptions {
        display: flex;
        flex-wrap: wrap;
        height: 125vh;
        width: 100%;
        padding: 0px 10%;
        justify-content: space-between;
    }
    .div1 {
        height: 210vh;
    }
    .features {
        display: flex;
        justify-content: space-evenly;
        height: 80%;
    }
    .div3 {
        height: 125vh;
        padding-bottom: 0px;
    }
    .div4 {
        width: 100%;
        height: 28vh;
    }
    .div2 {
        height: 160vh;
        padding: 35px 8%;
    }
    .option1, .option2, .option3 {
        width: 30%;
        height: 32%;
        padding: 6%;
        min-width: 100%;
        box-shadow: 0px 10px 15px rgb(0 0 0 / 40%);
        margin-bottom: 15px;
    }
}
@media only screen and (orientation:portrait) and (max-width:325px){
    .div1 {
        height: 260vh;
    }
    .home, .team, .intuition {
        font-weight: bold;
        font-size: x-small;
    }
    .login, .signup {
        border: none;
        font-size: x-small;
    }
    .content {
        height: 75vh;
        padding-bottom: 0px;
    }
    .content h1 {
        font-family: 'Chivo', sans-serif;
        font-size: x-large;
        width: 64%;
    }
    .leaf1{
        left: -15px;
        top: 20%;
    }
    .threeOptions {
        display: flex;
        flex-wrap: wrap;
        height: 150vh;
        width: 100%;
        padding: 0px 10%;
        justify-content: space-between;
    }
    .div2 {
        height: 180vh;
        padding: 35px 8%;
    }
    .feature1 .head, .feature2 .head {
        font-family: 'Chivo', sans-serif;
        font-size: 30px;
        margin-top: 35px;
        margin-bottom: 20px;
    }
    .feature1 , .feature2{
        min-width: 97%;
    }
    .working-content {
        width: 98%;
        font-size: 15px;
    }
    .extra .part1 {
        font-family: 'Chivo', sans-serif;
        font-weight: 600;
        font-size: 19px;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        text-align: center;
    }
    .extra .part2 {
        width: 96%;
        font-family: 'Chivo';
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        word-break: break-word;
    }
    .feature-content {
        max-width: 80%;
        margin-bottom: 40px;
    }
    .feature1 .button, .feature2 .button {
        color: #66BB6A;
        background-color: white;
        height: 10%;
        width: 51%;
    }
    .div3 {
        height: 140vh;
        padding-bottom: 0px;
    }
    .div4 {
        width: 100%;
        height: 30vh;
    }
    .div4 .subheading {
        font-size: x-large;
        text-align: center;
    }
}