<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='team.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='teamMedia.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='particle_style.css') }}">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Chivo:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/1.0.2/particles.min.js" integrity="sha512-mQteqM4UyRnhY7VfZjFPbUsOM/W0tFB82PHHXPUgWjf3r3wp31azRn9vETskkMyQbFuwXQSegbrMKaQNJP16Bg==" crossorigin="anonymous"></script>

    <title>Team</title>
</head>
<body>

    <div class="navbar">
        <div class="navpart1">
          <img src="{{url_for('static', filename='images/test.svg')}}" alt="" srcset="" class="logo" />
        </div>
        <div class="navpart2">
          <div class="home">Home</div>
          <div class="intuition">Intuition</div>
          <div class="team">Team</div>
        </div>
        <!-- <div class="navpart3">
          <div class="login">
            <i class="far fa-user"></i>
            Log In
          </div>
          <div class="signup">
            <i class="far fa-user"></i>
            Sign Up
          </div>
        </div> -->
      </div>
    <div class="cards">
        <div id="particles-js" class="bk-anime"></div>
        <div class="card1">
            <div class="shape">
            <div class="image"></div>
        </div>
        <h3>Nishtha</h3>
        <h3 class="title">Frontend Developer</h3>
        <p>There's certainly yet more to learn, yet more problems to solve , and yet more to build.</p>
        <div class="icons">
            <a href="https://www.linkedin.com/in/nishtha0801/">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/Nishtha0801">
                <i class="fab fa-github"></i>

            </a>
        </div>
        </div>
        <div class="card2">
            <div class="shape">
            <div class="image"></div>
        </div>
        <h3>Shruthi Rao</h3>
        <h3 class="title">Backend Developer</h3>
        <p>Learner first and foremost!</p>
        <div class="icons">
            <a href="https://www.linkedin.com/in/shruthi-rao-709849196/">

                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/shruthi019">
                <i class="fab fa-github"></i>

            </a>
        </div>
        </div>
        <div class="card3">
            <div class="shape">
            <div class="image"></div>
        </div>
        <h3>Pooja</h3>
        <h3 class="title">UI/UX Designer</h3>
        <p>Web Designer,UI designer,photographer,web developer,etc</p>
        <div class="icons">
            <a href="https://www.linkedin.com/in/pooja-gera/">

                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/pooja-gera">

                <i class="fab fa-github"></i>
            </a>
        </div>
        </div>
        <div class="card4">
            <div class="shape">
            <div class="image"></div>
        </div>
        <h3>Shrankhla</h3>
        <h3 class="title">ML Developer</h3>
        <p>Web Designer,UI designer,photographer,web developer,etc</p>
        <div class="icons">
            <a href="https://www.linkedin.com/in/shrankhla-srivastava-igdtuw">

                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/shrankhla20">

                <i class="fab fa-github"></i>
            </a>
        </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='particle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='particle_script.js') }}"></script>

</body>
</html>