<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='uploadSoil.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='uploadSoilMedia.css') }}">
    <link
      href="https://fonts.googleapis.com/css2?family=Chivo:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>Soil Detection</title>
</head>
<body>
    <div class="container">
        <div class="nav-icon">
            <img src="{{url_for('static', filename='images/test.svg')}}" alt="" srcset="">
        </div>
        <div class="content">
            <div class="texti">
                <h1>What kind of soil lies on your land?</h1>
                <div class="text">This software has been built on the three pillars of sustainable development - Zero Hunger, Responsible Consumption and Production and Life on Land. With the technological advancement of agriculture, it will become extremely easy to find what fits where. 
                    Our model uses CNN to detect the kind of soil present in your image.
                    Please take the picture in as clearest way as possible.</div>
            </div>
            <div class="image">
                <img src="{{url_for('static', filename='images/Upload_soil_illustration.png')}}" alt="" srcset="">
            </div>
        </div>
        <div class="upload">
            <form action="/predictSoil" method="post" enctype="multipart/form-data" onsubmit="showloading()" style="display:flex">
                <label for="uploadImage" class="button">Upload</label>
                <input type="file" name="image" id="uploadImage" style="display: none;" >
                <input type="submit" value="Predict" class="predict">

            </form>
            <!-- <label for="uploadImage" class="button">Upload</label>
            <input type="file" name="" id="uploadImage" style="display: none;" > -->
        </div>
        <div class="home">
            <div class="returnToHome"><a href={{url_for('home')}} style="text-decoration: none">Return To Home</a></div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='soilUpload.js') }}"></script>
</body>
</html>
